<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="defaultExecutorType" value="REUSE" />
        <setting name="logPrefix" value="mybatis-log : " />
        <setting name="logImpl" value="LOG4J" />
    </settings>

    <typeAliases>
        <!-- 기본 메인 -->
        <typeAlias alias="mainVO" type="com.jnf.wms.main.service.MainVO" />
    </typeAliases>

    <mappers>
        <!-- 기본메인 -->
        <mapper resource="mapper/main/Main_SQL.xml" />
    </mappers>

</configuration>